# Crap
/*.tar.gz
*.log
.sass-cache
.Spotlight-V100
.Trashes
.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db

# Composer
composer.lock
vendor/

# Node
node_modules
bower_components

# Codekit
codekit-config.json
.codekit-cache

# Editors
*.sublime-project
*.sublime-workspace
*.idea
.idea
.idea/*